---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
---

<Layout title="articles">
  <Card title="状態の維持" body="" href="articles/">
    <a href="/articles/">Card</a>
  </Card>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
    padding: 80px;
  }
</style>
