---
interface Props {
  title: string;
  src: string;
  body: string;
  href: string;
}

const { href, title, src, body } = Astro.props;
---

<a href={href}>
  <div class="card">
    <img alt="" width="200px" height="200px" src={src} />
    <h3 class="card-title">{title}</h3>
    <p class="card-content">{body}</p>
    <small>記事へ &gt;</small>
  </div>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
  small {
    font-size: 14px;
    align-self: self-end;
  }
  .card {
    border: 1px solid #e5e5e5;
    height: 100%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
  }

  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card-content {
    font-size: 16px;
  }
</style>
