---
import Layout from "@layouts/Layout.astro";
import Video from "@components/Video.astro";
---

<Layout title="video">
  <h1>ビデオ</h1>

  <div>
    <Video />
  </div>

  <a href="/video/1">&lt; 戻る</a>
</Layout>
